<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello World</title>
    </head>
    <body>
        {% if name is defined %}
            <p>Hello {{ name }} !</p>
        {% else %}
            <p>Hello world !</p>
        {% endif %}
    </body>
</html>